# Homework 2 Code Guide
In this guide, we will be connecting to the sqlite database created from the lecture, fill it with values, then run a few queries.
<br>
First, we need to import the correct library to use sqlite functions.

In [2]:
import sqlite3
import os

Now we have our functions ready to go, let's get the current path and connect to our database. For `dbPath` variable, create a db with name `mydb.sqlite`.

In [4]:
path = os.getcwd()
dbpath = 'mydb.sqlite'
conn = sqlite3.connect(dbpath)

Now connected, we can create our cursor variable using the `cursor()` function.

In [5]:
cur = conn.cursor()

Using `cur`, we want to add in our new tables. However, if we add them multiple times, we will receive an error. So, we first need to `DROP` the tables if they exist already.<br>Enter your `DROP` queries below as an argument to the `execute` methods. Do this twice, once for the `stories` table and one for the `word_counts` table.

In [ ]:
drop_stories_query  = # Input DROP query for stories table here
drop_info_query = # Input DROP query for information table here

#Now we run both queries
cur.execute(drop_stories_query)
cur.execute(drop_info_query)

We now have a clean slate set up to create our new tables! Now, design the queries to create new tables for `stories` and `word_counts`. <br>
The `stories` table only needs a primary key `story_id` that is an integer and a text field called `story` to store the corrosoponding story text.
<br>
The `word_counts` table will need a little more. Please include the following:
- `word_id`: primary key, integer
- `word`: text
- `count`: integer
- `story_id`: integer, foreign key to `stories` table

In [40]:
create_stories_query = # Insert CREATE TABLE query for stories table here
create_info_query =  # Insert CREATE TABLE query for information table here
cur.execute(create_stories_query)
cur.execute(create_info_query)
conn.commit()

With our new empty tables ready, we can now loop through the stories and store the word counts.<br> Similar to how we looped through the stories in HW 1, we now have an additional step of inserting this data.<br>
In the cell below, please add the two queries for inserting these data rows. <br><br>
The first insert is for storing the story text in the `stories` table while reading from the file. The second insert is after counting up all the words, and is for inserting those values into the `word_counts` table. Remember to pass these query string variables into the `execute()` methods.

In [ ]:
stories = ["/story-1.txt", "/story-2.txt"]

for story in stories:
    words = []
    count_of_each_word = {}
    story_id = ""
    try:
        # Open the file
        with open(path + story, encoding='utf-8') as fp:
            # reading data from file and splitting into words
            # and storing them in a list
            story_text = fp.read()
            
            # For the below query, you will need to use a '?' to
            #     represent where you want the story_text to be inputed.
            #     The actual text in story_text is passed in a tuple as 
            #     second parameter of the execute command().
            
            insert_story_query = # Input INSERT query for the stories table here
            cur.execute(insert_story_query, (story_text,))
            
            #Grabbing the last id inserted, so we can use it when inserting values into the word_counts table
            story_id = cur.lastrowid
            conn.commit()
            words = story_text.split()
            
            # Close the file
            fp.close()
            
    except Exception as e:
        print("Unable to open the file: " + str(e))

    # Just like before, we are iterating over each word and using a dictonary to store the word counts
    for word in words:
        if(word in count_of_each_word):
            count_of_each_word[word] += 1
        else:
            count_of_each_word[word] = 1

    for key in count_of_each_word:
        insert_count_query = # Input query here, using '?' again in the VALUES () portion
        
        cur.execute(insert_count_query, (key, count_of_each_word[key], story_id))
        conn.commit()

Finally! Our tables are filled and we can now run SELECT queries against it to pull the data we want. There are two queries you will need to run. 
### SELECT Query One: 
Grab all rows from `word_counts` where the word is "the" and the count is greater than 1.

In [ ]:
query_one = #Input SELECT query one here
cur.execute(query_one)
records = cur.fetchall()
for record in records:
    print(record)

### SELECT Query Two: 
Grab the `story_id`, `story`, and `count` columns where the word is "the". You should use a JOIN statement for this query, and only need to include `story_id` from one table.

In [ ]:
query_two = #Input SELECT query two here
cur.execute(query_two)
records = cur.fetchall()
for record in records:
    print(record)